.content

  = nested_form_for (setup_conditions(@scenario)), :url => scenario_create_path do |form|

    .item
      Application Title 
      = form.select :category, options_for_select(["Automation", "Manuual"])  

    .item
      = form.text_area :title

    .item

      Given    

      = form.fields_for :given_conditions do |item_form|
        = item_form.text_area :text
        = item_form.link_to_remove "Remove"
  
      = form.link_to_add "Add a Given condition", :given_conditions    

    .item

      When    
    
      = form.fields_for :when_conditions do |item_form|
        = item_form.text_area :text
        = item_form.link_to_remove "Remove"

      = form.link_to_add "Add a When condition", :when_conditions      

    .item

      Then
    
      = form.fields_for :then_conditions do |item_form|
        = item_form.text_area :text
        = item_form.link_to_remove "Remove"

      = form.link_to_add "Add a Then condition", :then_conditions      
      

    .item.submit

      = form.submit "Add"
