.content
  = form_for @scenario, :url => scenario_create_path do |form|
    .item
      Application Title 
      = form.select :sc_type, options_for_select(["Automation", "Manuual"])  
    .item= form.text_area :sc_title
    .item
      Given    
      = form.text_area :sc_given
    .item
      When    
      = form.text_area :sc_when
    .item
      Then    
      = form.text_area :sc_then
    .item.submit
      = form.submit "Add"
