.content

  = nested_form_for (setup_conditions(@scenario)), :url => scenario_create_path do |form|

    .small-item
      Application Title 
      = form.select :tag, options_for_select( ["Automation", "Manuual"] )  

    .small-item
      Scenario
      = form.text_area :title

    - %w(given when then).each do|item|
      .item
        = item.capitalize
        = select_tag "histoy_#{item}s", options_for_select( selections_for("#{item}") ), :include_blank => true if item =~ /given/
        = form.fields_for "#{item}_conditions" do |item_form|
          = item_form.text_area :text
          = item_form.link_to_remove "Remove"
        = form.link_to_add( "Add a #{item} condition", "#{item}_conditions".to_sym )
        
    .submit= form.submit "Add"
